/*Reset*/
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    
}
body {
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("../img/bg.jpg"); center no-peat;
    background-size: cover;
       
}


main {
     background-color: rgba(170,180,170,.5);   
}

main,
aside {
    float: left;
    
}

footer,
main section {
    clear: both;
}

main { 
    width: 70%;
}

aside {
    width: 30%;
    background-color: rgba(100,80,59,.7);
}



a{
    text-decoration: none;
    color: #eee;
}

/*Home-page*/
.text {
  background-color: white;
  color: black;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 1px;
  width: 97%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/*Navigation bar*/

header{
    width: 100%;
    height: 100vh;
    
    }
.container{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
    position: relative;
}


nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.logo-ahmad{
    font-size: 3rem;
    font-weight: 300;
}

.logo-ahmad span{
    color: crimson;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}


/*About-page*/
#body-about-me { font: 16px Helvetica, Sans-Serif; line-height: 24px; }
        .clear { clear: both; }
        #page-wrap { width: 62%; margin: 40px auto 60px; }
        
        .fn { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; color: #fff; }

        .title-h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; color: #fff }
        .title-h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; color: yellow; }
        .title-p-about { margin: 0 0 16px 0; color: orange; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #fff; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; color: orange; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 3px solid burlywood;  }
        dd { width: 600px; float: right; color: brown }
        dd.clear { float: none; margin: 0; height: 15px; }
/*Skills-page*/

#title-myskills {
    color: crimson;
    text-align: center;
    font-size: 3rem;
}

#skills-p{
    color: wheat;
    font-size: 20px;
    margin: 10px;
}

.skills-all {
  width: 96%;
  background-color: #ddd;
  margin: 10.5px;
  padding: 3px;
 }

.skills {
  text-align: right;
  padding: 1px;
  color: whitesmoke;
}

.html {width: 15%; background-color: #f44336;}
.css {width: 15%; background-color: #f44336;}
.photoshop {width: 65%; background-color: #f44336;}
.english {width: 50%; background-color: #f44336;}
.germany {width: 35%; background-color: #f44336;}

/*sills barside card*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 0px 0 rgba(0,0,0,0.2);
}

.card-info {
  padding: 2px 16px;
}

/*contact-page*/

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #fff;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: burlywood;
}

/* Style the container/contact section */
.cont-container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 90%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*contact sidebar*/

.contact-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.info-title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}
